<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
<div class="register-container">
    


    <h2>Create an Account</h2>


    <form id="register-form">
        <input type="text" id="username" placeholder="Username" required />
        <input type="email" id="email" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <input type="password" id="confirm-password" placeholder="Confirm Password" required />
        <select name="role" id="role">
            <option value="generate code">Generate Code</option>
            <option value="optimize code">Optimize Code</option>
        </select>
        <button type="submit">Register</button>
        <p class="text-center" style="text-align:center;">
                Already have an Account? <a href="/login" style="text-decoration:none; color: #49958c" >Log in</a>
        </p>
        <p class="error" id="error-msg"></p>
        <p class="success" id="success-msg"></p>
    </form>
</div>
<script src="/static/register.js"></script>
</body>
</html>